body{
    background: rgb(199, 230, 240);
    font-family: 'Playfair Display', serif !important;
}
#home{
    height: max-content;
    background: rgb(253, 249, 249);
    margin: 20px;
    padding-top: 6px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(100, 182, 207);
}
#head{
    background:rgb(100, 182, 207);
    color: white;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 30px;
}
#cart{
    float:right;
    margin-right:100px;
}
.prod{
    margin-top:30px;
    margin-bottom:50px;
}
.img{
    height: 300px;
    width : 230px;
}
.prodDiv{
    height: 460px;
    width : 250px;
    padding:10px;
    box-shadow : 3px 3px 5px rgb(185, 187, 187);
}
#cartPage{
    position:absolute;
    height : 100%;
    width: 98.5%;
    top:0;
    background:rgba(76, 76, 76,0.5);
}
#cartDiv{
    position:absolute;
    border:1px solid black;
    height : 100%;
    width: 400px;
    top:0;
    right:0;
    background:white;
}
.cartHead{
    font-size: 20px;
    margin:10px 10px;
    padding : 0 5px;
    color : rgb(100, 182, 207);
}
.cartItems{
    border:1px solid black;
}
#close{
    float:right;
}
.item{
    margin-top: 10px;
}
.remove{
    padding-right: 0;
    padding-left: 15px;
}
.sym{
    font-size: 30px;
    margin-top:6px;
}
/* #cnfrm{
    height: 200px;
    width: 400px;
    position: absolute;
    top : 35%;
    left : 35%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(100, 182, 207);
    background: white;
} */